*{
    box-sizing: border-box;
}

body{
    background-color:#FAFAFA;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 70px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
}
.screen1.hidden, .screen2.hidden, .screen3.hidden {
    display: none;
}

.screen1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto 0 auto;
}

.createQuizzEmpety{
    margin-top: 77px;
    width: 1100px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.createQuizzEmpety p {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
    width: 250px;
    text-align: center;
}

.createQuizzEmpety button{
    all:unset;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    text-align: center;
    color: #EC362D;
    font-size: 21px;
    font-weight: 400px;
}

.createQuizz{
    margin-top: 70px;
    align-self: flex-start;
    width: 100%;
    display: none;
}

.createQuizzTop{
    display: flex;
    align-items: center;
}

.createQuizz ion-icon{
    width: 30px;
    color:red;
    margin-left: 20px;
}

.createQuizz h1{
    font-size: 20px;
    font-weight: 700;
}

.rowMyQuizz{
    display: flex;
    justify-content: space-between;
}

.allQuizz {
    display: flex;
    flex-direction: column;
}

.allQuizz h1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
    align-self: flex-start;
}

.image2{
    z-index: -1;
    width: 340px;
    height: 180px;
    margin-top: 12px;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.divImg{
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: relative;
}

.divImg p{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7px;
    font-size: 19px;
    font-weight: 400;
}

.container{
    align-self: flex-start;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ///////////////////// Segunda tela /////////////////// */

.banner {
    width: 100%;
    height: 227px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Hogwarts_Castle_Night_%285586868829%29.jpg);
    background-size: cover;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1 {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

/* //////////////////////// Terceira Tela ///////////////*/

.screen3{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto 0 auto;
}

.screen3 form{
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.screen3 h1{
    margin-top: 70px;
    font-size: 23px;
    font-weight: 700;   
}