*{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color:#FAFAFA;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    z-index: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

header h1 {
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
}

input{
    all:unset;
}

.screen1.hidden, .screen2.hidden, .screen3.hidden , .screen3_2.hidden, .screen3_3.hidden,.screen3_4.hidden, .createQuizz.hidden, .createQuizzEmpty.hidden{
    display: none;
}

.screen1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto 0 auto;
}

.createQuizzEmpty{
    margin-top: 77px;
    width: 1100px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.createQuizzEmpty p {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
    width: 250px;
    text-align: center;
}

.createQuizzEmpty button{
    all:unset;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    text-align: center;
    color: #EC362D;
    font-size: 21px;
    font-weight: 400px;
}

.createQuizz{
    margin-top: 70px;
    align-self: flex-start;
    width: 100%;
    display: none;
}

.createQuizzTop{
    display: flex;
    align-items: center;
}

.createQuizz ion-icon{
    width: 30px;
    color:red;
    margin-left: 20px;
}

.createQuizz h1{
    font-size: 20px;
    font-weight: 700;
}

.rowMyQuizz{
    display: flex;
    justify-content: space-between;
}

.allQuizz {
    display: flex;
    flex-direction: column;
}

.allQuizz h1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
    align-self: flex-start;
}

.image2{
    z-index: -1;
    width: 340px;
    height: 180px;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.divImg {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: relative;
}
.divImg:hover {
    box-shadow: 0 0 10px gray;
    transition: all 0.3s ease-in;
}
.divImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.divImg p{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7px;
    font-size: 19px;
    font-weight: 400;
}
.divImg:hover p {
    text-decoration: underline;
    opacity: 0.8;
    transition: all 0.5s linear;
}

.container{
    align-self: flex-start;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ///////////////////// Segunda tela /////////////////// */

.screen2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner {
    width: 100%;
    height: 227px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 0px 20px black;
}
.questions {
    margin: 42px 0;
}
.question-display {
    width: 759px;
    height: 676px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 28px 37px 36px 37px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-title {
    width: 688px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question-title h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}
.answer-options {
    width: 688px;
    height: 410px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.answer-options.show-answer .alternative {
    cursor: auto;
    opacity: 0.3;
}
.answer-options.show-answer .alternative.clicked {
    opacity: 1;
}
.answer-options.show-answer .right h3{
    color:#009C22;
}
.answer-options.show-answer .wrong h3{
    color:#FF4B4B;
}
.alternative {
    width: 330px;
    height: 240px;
    cursor: pointer;
}
.alternative:hover img {
    box-shadow: 0 0 15px gray;
    transition: all 0.3s ease-in;
}
.answer-options.show-answer .alternative:hover img {
    box-shadow: none;
}
.alternative img {
    width: 100%;
    height: 175px;
}
.alternative h3 {
    height: 34px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: #000000;
}
.alternative:hover h3 {
    text-decoration: underline;
}
.answer-options.show-answer .alternative:hover h3 {
    text-decoration: none;
}
.score-screen {
    width: 759px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-screen.hidden {
    display: none;
}
.score {
    width: 100%;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 18px;
}
.score-result {
    width: 100%;
    height: 99px;
    background: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score-result h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}
.image-text {
    width: 100%;
    height: 273px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-text img {
    width: 364px;
    height: 100%;
    object-fit: cover;
}
.image-text h3 {
    width: 328px;
    height: 100%;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
.restart-quizz {
    width: 260.38px;
    height: 52px;
    background: #EC362D;
    cursor: pointer;
    border-radius: 15px;
    margin: 57px 0 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restart-quizz:hover {
    filter: brightness(90%);
    transition: all 0.3s ease-in;
}
.restart-quizz:active {
    box-shadow: inset 0 0 10px rgb(138, 0, 0);
}
.restart-quizz h4 {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}
.return-screen1 {
    width: 220px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.return-screen1:hover {
    filter: brightness(90%);
    transition: all 0.3s ease-in;
}
.return-screen1 h5 {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #818181;
}
.return-screen1:active h5{
    text-decoration: underline;
}


/* //////////////////////// Terceira Tela ///////////////*/

.screen3, .screen3_2, .screen3_3, .screen3_4{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto 0 auto;
}

.screen3 form{
    width: 600px;
    margin-top: 71px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items:center;
    justify-content: center;
}

.screen3 form ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

::placeholder{
    color: #BABABA;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.screen3 h1,.screen3_2 h1, .screen3_3 h1{
    font-size: 23px;
    font-weight: 700;
    margin-top: 28px; 
}
.screen3 h3, .screen3_2 h3, .screen3_3 h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #EC362D;
}
.validation-alert {
    display: flex;
}
.validation-alert.hidden {
    display: none;
}

ul h1{
    margin-top: 0;
    font-size: 23px;
    font-weight: 700;   
    margin-bottom: 20px;
}

.firstUl li input,.secondUl li input,.thirdUl li input{
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 9px;
}


.submit{
    margin-top: 85px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius: 15px;
    width: 370px;
    height: 54px;
    text-align: center;
}

.questionForm{
    width: 600px;
    margin-top: 71px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items:center;
    justify-content: center;
}
/*.dropdown-menu ul{
    display: flex;
}
.dropdown-menu.closed ul{
    display: none;
}*/

.screen3_4 h1{
    font-size: 23px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 46px;
}